body{
  background-image:url("https://img.freepik.com/free-vector/5g-networking-technology-background-with-blue-digital-line_53876-119505.jpg?w=1060&t=st=1682843107~exp=1682843707~hmac=e581b70dc97de3776cde8311c3d2069c480ac774d24526697c69bde16fd49202");
  background-repeat: no-repeat;
  background-size: cover;
}


