body{
  background-image:url("https://img.freepik.com/free-vector/5g-networking-technology-background-with-blue-digital-line_53876-119505.jpg?w=1060&t=st=1682843107~exp=1682843707~hmac=e581b70dc97de3776cde8311c3d2069c480ac774d24526697c69bde16fd49202");
  background-repeat: no-repeat;
  background-size: cover;
}


input{
  margin: 0 10px;
  border:2px solid aqua;
  border-radius: 20px;
}
button {
  background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
  }
 submit:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }
  div{
    font-size: 2rem;
  }
  @media (max-width: 1080px){
    div{
      font-size: 2rem;
      max-height: fit-content;
    }
  }
  @media (max-width: 500px){
   div{
      font-size: 2rem ;
      max-height: fit-content;
    }
  }


  
